body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("login.jpg");
    background-size: cover;
    background-position: center;
}

header {
    width: 100%;
    height: 50px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

header h1 {
    color: white;
    margin-left: 20px;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main div {
    width: 250px;
    height: 320px;
    margin: 19px 15px;
    background: red;
}

img {
    width: 100%;
    height: 89%;
    object-fit: cover;
}

h2 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}
